.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.delete-confirmation {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 360px;
  height: auto;
  margin: auto;
  border: 3px solid rgb(255, 200, 0);
  border-radius: 20px;
  /* background-color: rgba(255, 200, 0, 0.18); */
  background-color: rgba(0, 0, 0, 0.54);
  text-align: center;
  background-size: cover;
}

.delete-confirmation h1 {
  text-align: center;
}

.delete-confirmation-no {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 13px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-color: greenyellow;
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  text-decoration: none;
  color: black;
  margin-bottom: 30px;
}

.delete-confirmation-yes {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 13px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-color: red;
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  text-decoration: none;
  color: black;
  margin-bottom: 30px;
}
